<nav class="navbar navbar-expand-sm bg-primary navbar-dark" role="navigation">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']" aria-label="home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['search']" aria-label="buscar"
          >Search</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['listar']" aria-label="listar"
          >Listado</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['aboutus']" aria-label="aboutus"
          >About Us</a
        >
      </li>
    </ul>
  </div>
</nav>
